In [3]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns

data1 = pd.read_csv("data/ImmGenATAC18_AllOCRsInfo.csv", usecols = ["NK.27+11b-.BM","NK.27+11b+.BM","NK.27-11b+.BM","NK.27+11b-.Sp","NK.27+11b+.Sp","NK.27-11b+.Sp","ILC2.SI", "ILC3.NKp46-CCR6-.SI", "ILC3.NKp46+.SI", "ILC3.CCR6+.SI"])
data1.head()

,NK.27+11b-.BM,NK.27+11b+.BM,NK.27-11b+.BM,NK.27+11b-.Sp,NK.27+11b+.Sp,NK.27-11b+.Sp,ILC2.SI,ILC3.NKp46-CCR6-.SI,ILC3.NKp46+.SI,ILC3.CCR6+.SI
0,0.82,0.22,2.00,0.81,2.43,1.27,1.79,1.67,0.75,1.21
1,1.46,0.22,0.12,0.14,0.20,0.12,1.29,3.87,0.23,0.15
2,0.20,1.00,0.12,0.14,1.58,0.12,0.44,2.49,0.23,0.95
3,1.72,1.07,0.73,0.76,0.20,1.27,1.76,0.95,0.23,0.15
4,0.20,0.22,0.12,0.14,0.20,1.29,1.43,0.15,2.14,0.15