In [3]:

import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt
import seaborn as sns


cols = ["ILC2.SI", "ILC3.NKp46-CCR6-.SI", "ILC3.NKp46+.SI", "ILC3.CCR6+.SI",
        "NK.27+11b-.BM", "NK.27+11b+.BM", "NK.27-11b+.BM",
        "NK.27+11b-.Sp", "NK.27+11b+.Sp", "NK.27-11b+.Sp"]

data = pd.read_csv("data/ImmGenATAC18_AllOCRsInfo.csv", usecols=cols)
transpose = data.T
transpose.head()

,0,1,2,3,4,5,6,7,8,9,...,512585,512586,512587,512588,512589,512590,512591,512592,512593,512594
NK.27+11b-.BM,0.82,1.46,0.20,1.72,0.20,1.46,0.82,1.10,2.68,1.72,...,10.42,2.10,1.46,1.72,1.72,6.33,4.82,2.48,1.72,2.48
NK.27+11b+.BM,0.22,0.22,1.00,1.07,0.22,0.22,1.00,0.22,1.00,0.22,...,11.15,2.77,1.85,1.73,2.51,2.48,4.98,2.29,0.22,0.22
NK.27-11b+.BM,2.00,0.12,0.12,0.73,0.12,0.73,0.73,1.29,0.73,0.12,...,7.91,1.45,2.61,3.73,2.00,8.34,6.55,2.00,0.12,1.28
NK.27+11b-.Sp,0.81,0.14,0.14,0.76,0.14,0.14,0.14,0.14,0.81,1.43,...,11.98,6.39,3.26,3.26,0.81,2.04,4.48,1.43,0.14,0.14
NK.27+11b+.Sp,2.43,0.20,1.58,0.20,0.20,3.57,1.06,0.20,0.20,0.20,...,9.43,4.06,3.57,6.53,0.94,1.79,4.45,1.79,0.20,1.79